.vh-label-input {
    min-height: 10px;
    width: 100%;
}
.vh-label-input,
.form-control {
    border-radius: 2px !important;
    &:focus {
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%) !important;
    }
}
.btn {
    border-radius: 2px !important;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%) !important;
    }
    .icon-before {
        margin-right: 2px;
    }
    .icon-after {
        margin-left: 2px;
    }
}

.vh-group-checkbox {
    max-height: 100%;
    overflow: auto;
    .vh-group-item {
        border-bottom: 1px dotted #eee;
        .vh-group-item-header {
            padding: 1px;
            display: flex;
            .form-check {
                flex: auto;
            }
            .bi {
                flex: none;
                &:hover {
                    color: rgb(7, 108, 175);
                }
            }
        }
        .vh-group-item-body {
            display: flex;
            flex-direction: column;
            .vh-form-check {
                border-top: 1px dotted #ccc;
                padding-left: 3em;
            }
        }
    }
}
.ql-editor {
    min-height: 100px;
}
.vh-file-upload {
    border: 3px dashed grey;
    width: 100%;
    background: #eee;
    position: relative;
    border-radius: 10px;
    min-height: 150px;
    overflow: hidden;
    input {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
    }
    &.file-drap-over {
        .vh-file-upload__face {
            background: #dbbdbd;
        }
    }
    .vh-file-upload__face {
        width: 100%;
        height: 100%;
        text-align: center;
        color: black;
        font-family: Arial;
        position: absolute;
        z-index: 1;
        :hover {
            cursor: pointer;
            background: #dbbdbd;
        }
        .upload-text {
            display: flex;
            height: 100%;
            align-items: center;
            p {
                width: 100%;
                margin: 0;
                text-align: center;
                font-weight: 700;
                font-size: 24px;
                i {
                    font-size: 35px;
                    margin-right: 5px;
                    margin-top: 5px;
                }
            }
        }
    }
}
