.vh-flex-auto {
    flex: 1 1 auto !important;
}
.vh-inline-block {
    display: inline-block;
}
.btn {
    border-radius: 2px;
    span {
        margin: 0px 5px;
    }
}
.show {
    display: block !important;
}
.vh-form-check {
    display: inline-block;
    margin: 2px;
}
.vh-height-500 {
    overflow: auto;
    max-height: 500px;
}
.vh-height-400 {
    overflow: auto;
    max-height: 400px;
}
.vh-height-300 {
    overflow: auto;
    max-height: 300px;
}
.vh-height-200 {
    overflow: auto;
    max-height: 200px;
}
.vh-height-max {
    min-height: 100vh;
}
.vh-hover {
    margin: 2px;
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}
